*{
    box-sizing: border-box !important;
    font-family: 'Formula1 Display',regular;
}
html {
  font-size: 14px;
}
.next-race{
    width: 100% !important;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.na {
    background-color: #E10600 !important;
}